dd.error {
    color:red;
    font-weight: bold;
}

body {
    padding-top:60px;
}

article.post {
    margin-top: 30px;
}

div.success {
    background-color: #DFD;
    padding:10px;
    border: 1px solid #070;
    margin-top: 20px;
    margin-bottom: 20px;
}